### Car Servicing Project

## Details about the Project
- Importing Libraries
- Loading and creating copy of the data
- overview and understanding the Data Frame
    - index
    - columns
    - size
- Checking total number of Rows and Columns
    - ndim
    - Indexing and Selecting Rows
    -  Head
    -  Tail
- Checking for Uniques Instances of the Columns
- Data Preprocessing
    - Replacing missing valuesm- issing values
Final Check on Data for
- EDA Exploratory Analysis
   - ratory Analysis
Descriptive Analysis

In [1]:
import numpy as np
import pandas as pd

C:\Users\ybrim\AppData\Local\Temp\ipykernel_8092\1662815981.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

## Loading the Data

In [2]:
car_data = pd.read_csv('Datasets/car_servicing.csv', encoding = 'latin-1')

In [3]:
car_data

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,postalCode,lastSeen
0,17/03/2016 16:54,GOLF_4_1_4__3TÜRER,private,offer,1500,test,small car,2001,manual,75,golf,150000,6,petrol,volkswagen,no,17/03/2016 0:00,91074,17/03/2016 17:40
1,31/03/2016 17:25,Skoda_Fabia_1.4_TDI_PD_Classic,private,offer,3600,test,small car,2008,manual,69,fabia,90000,7,diesel,skoda,no,31/03/2016 0:00,60437,06/04/2016 10:17
2,04/04/2016 17:36,BMW_316i___e36_Limousine___Bastlerfahrzeug__Ex...,private,offer,650,test,limousine,1995,manual,102,3er,150000,10,petrol,bmw,yes,04/04/2016 0:00,33775,06/04/2016 19:17
3,01/04/2016 20:48,Peugeot_206_CC_110_Platinum,private,offer,2200,test,cabrio,2004,manual,109,2_reihe,150000,8,petrol,peugeot,no,01/04/2016 0:00,67112,05/04/2016 18:18
4,21/03/2016 18:54,VW_Derby_Bj_80__Scheunenfund,private,offer,0,test,limousine,1980,manual,50,others,40000,7,petrol,volkswagen,no,21/03/2016 0:00,19348,25/03/2016 16:47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260960,19/03/2016 19:53,turbo_defekt,private,offer,3200,control,limousine,2004,manual,225,leon,150000,5,petrol,seat,yes,19/03/2016 0:00,96465,19/03/2016 20:44
260961,27/03/2016 20:36,Opel_Zafira_1.6_Elegance_TÜV_12/16,private,offer,1150,control,bus,2000,manual,0,zafira,150000,3,petrol,opel,no,27/03/2016 0:00,26624,29/03/2016 10:17
260962,05/03/2016 19:56,Smart_smart_leistungssteigerung_100ps,private,offer,1199,test,cabrio,2000,automatic,101,fortwo,125000,3,petrol,smart,no,05/03/2016 0:00,26135,11/03/2016 18:17
260963,19/03/2016 18:57,Volkswagen_Multivan_T4_TDI_7DC_UY2,private,offer,9200,test,bus,1996,manual,102,transporter,150000,3,diesel,volkswagen,no,19/03/2016 0:00,87439,07/04/2016 7:15
260964,07/03/2016 19:39,BMW_M135i_vollausgestattet_NP_52.720____Euro,private,offer,28990,control,limousine,2013,manual,320,m_reihe,50000,8,petrol,bmw,no,07/03/2016 0:00,73326,22/03/2016 3:17

## Creating copy of the Data

In [4]:
df = car_data.copy()

## Data Overview
- index
- columns
- size
- checking total number of rows and columns
- ndim

In [6]:
car_data.index

RangeIndex(start=0, stop=260965, step=1)

In [7]:
car_data.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'kilometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'postalCode', 'lastSeen'],
      dtype='object')

In [8]:
car_data.size

4958335

In [10]:
print(f"=> Total Number of Rows: {car_data.shape[0]} => Total Number of Columns: {car_data.shape[1]}")

=> Total Number of Rows: 260965 => Total Number of Columns: 19

In [11]:
car_data.ndim

2

## Indexing and selecting Rows 
- head
- tail
- dtypes

In [12]:
car_data.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,postalCode,lastSeen
0,17/03/2016 16:54,GOLF_4_1_4__3TÜRER,private,offer,1500,test,small car,2001,manual,75,golf,150000,6,petrol,volkswagen,no,17/03/2016 0:00,91074,17/03/2016 17:40
1,31/03/2016 17:25,Skoda_Fabia_1.4_TDI_PD_Classic,private,offer,3600,test,small car,2008,manual,69,fabia,90000,7,diesel,skoda,no,31/03/2016 0:00,60437,06/04/2016 10:17
2,04/04/2016 17:36,BMW_316i___e36_Limousine___Bastlerfahrzeug__Ex...,private,offer,650,test,limousine,1995,manual,102,3er,150000,10,petrol,bmw,yes,04/04/2016 0:00,33775,06/04/2016 19:17
3,01/04/2016 20:48,Peugeot_206_CC_110_Platinum,private,offer,2200,test,cabrio,2004,manual,109,2_reihe,150000,8,petrol,peugeot,no,01/04/2016 0:00,67112,05/04/2016 18:18
4,21/03/2016 18:54,VW_Derby_Bj_80__Scheunenfund,private,offer,0,test,limousine,1980,manual,50,others,40000,7,petrol,volkswagen,no,21/03/2016 0:00,19348,25/03/2016 16:47

In [13]:
car_data.tail()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,postalCode,lastSeen
260960,19/03/2016 19:53,turbo_defekt,private,offer,3200,control,limousine,2004,manual,225,leon,150000,5,petrol,seat,yes,19/03/2016 0:00,96465,19/03/2016 20:44
260961,27/03/2016 20:36,Opel_Zafira_1.6_Elegance_TÜV_12/16,private,offer,1150,control,bus,2000,manual,0,zafira,150000,3,petrol,opel,no,27/03/2016 0:00,26624,29/03/2016 10:17
260962,05/03/2016 19:56,Smart_smart_leistungssteigerung_100ps,private,offer,1199,test,cabrio,2000,automatic,101,fortwo,125000,3,petrol,smart,no,05/03/2016 0:00,26135,11/03/2016 18:17
260963,19/03/2016 18:57,Volkswagen_Multivan_T4_TDI_7DC_UY2,private,offer,9200,test,bus,1996,manual,102,transporter,150000,3,diesel,volkswagen,no,19/03/2016 0:00,87439,07/04/2016 7:15
260964,07/03/2016 19:39,BMW_M135i_vollausgestattet_NP_52.720____Euro,private,offer,28990,control,limousine,2013,manual,320,m_reihe,50000,8,petrol,bmw,no,07/03/2016 0:00,73326,22/03/2016 3:17

In [36]:
car_data.dtypes

dateCrawled            object
name                   object
seller                 object
offerType              object
price                   int64
abtest                 object
vehicleType            object
yearOfRegistration      int64
gearbox                object
powerPS                 int64
model                  object
kilometer               int64
monthOfRegistration     int64
fuelType               object
brand                  object
notRepairedDamage      object
dateCreated            object
postalCode              int64
lastSeen               object
dtype: object

## Checking for Unique Instances
- name
- model

In [35]:
print(np.unique(car_data['lastSeen']))

['01/04/2016 0:15' '01/04/2016 0:16' '01/04/2016 0:17' ...
 '31/03/2016 9:53' '31/03/2016 9:55' '31/03/2016 9:57']

## Data Preprocessing 
- Checking Data types Using the dtype function
- Group data types into categorical and non-categorical

In [39]:
car_data.isnull()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,postalCode,lastSeen
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260960,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
260961,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
260962,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
260963,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
260964,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

## Grouping Data into Categorical and Numerical