## Step 0 : Imports and Reading Data

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')
#pd.set_option('max_columns', 200)

In [15]:
# Read dataset
data_df = pd.read_csv('Datasets/sales_data.csv')

## Step 1: Data Understanding
- Dataframe Shape
- head and tail
- Dtypes
- describe

In [16]:
## Dataframe shape
data_df.shape

(113036, 18)

In [33]:
data_df.head(5)

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418

In [21]:
data_df.columns

Index(['Date', 'Day', 'Month', 'Year', 'Customer_Age', 'Age_Group',
       'Customer_Gender', 'Country', 'State', 'Product_Category',
       'Sub_Category', 'Product', 'Order_Quantity', 'Unit_Cost', 'Unit_Price',
       'Profit', 'Cost', 'Revenue'],
      dtype='object')

In [18]:
data_df.dtypes

Date                object
Day                  int64
Month               object
Year                 int64
Customer_Age         int64
Age_Group           object
Customer_Gender     object
Country             object
State               object
Product_Category    object
Sub_Category        object
Product             object
Order_Quantity       int64
Unit_Cost            int64
Unit_Price           int64
Profit               int64
Cost                 int64
Revenue              int64
dtype: object

In [40]:
data_df.describe()

,Day,Year,Customer_Age,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
count,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000
mean,15.665753,2014.401739,35.919212,11.901660,267.296366,452.938427,285.051665,469.318695,754.370360
std,8.781567,1.272510,11.021936,9.561857,549.835483,922.071219,453.887443,884.866118,1309.094674
min,1.000000,2011.000000,17.000000,1.000000,1.000000,2.000000,-30.000000,1.000000,2.000000
25%,8.000000,2013.000000,28.000000,2.000000,2.000000,5.000000,29.000000,28.000000,63.000000
50%,16.000000,2014.000000,35.000000,10.000000,9.000000,24.000000,101.000000,108.000000,223.000000
75%,23.000000,2016.000000,43.000000,20.000000,42.000000,70.000000,358.000000,432.000000,800.000000
max,31.000000,2016.000000,87.000000,32.000000,2171.000000,3578.000000,15096.000000,42978.000000,58074.000000

## Step 2: Data Preparation
- Dropping Irrelevant Columns and Rows
- Identifying Duplicated Columns
- Renaming Columns
- Feature Creation

In [41]:
# ## Data Cleaning
# ## Example of droping a single column
# data_df(['Column_name'], axis=1)

In [51]:
# # Dropping some columns by commenting out the unwanted columns
df = data_df[[#'Date',
         #'Day', 'Month', 
                'Customer_Age',
                #'Age_Group',
         'Customer_Gender', 'Country', 'State',
                #'Product_Category', 
               #'Sub_Category','Cost',
         'Product', 
           'Year','Order_Quantity', 'Unit_Cost','Unit_Price','Profit','Revenue']].copy()

In [52]:
df.dtypes

Customer_Age        int64
Customer_Gender    object
Country            object
State              object
Product            object
Year                int64
Order_Quantity      int64
Unit_Cost           int64
Unit_Price          int64
Profit              int64
Revenue             int64
dtype: object

In [53]:
df = df.reset_index(drop=True).copy()

In [62]:
df.head(20)

,Customer_Age,Customer_Gender,Country,State,Product,Year,Order_Quantity,Unit_Cost,Unit_Price,Profit,Revenue
0,19,M,Canada,British Columbia,Hitch Rack - 4-Bike,2013,8,45,120,590,950
1,19,M,Canada,British Columbia,Hitch Rack - 4-Bike,2015,8,45,120,590,950
2,49,M,Australia,New South Wales,Hitch Rack - 4-Bike,2014,23,45,120,1366,2401
3,49,M,Australia,New South Wales,Hitch Rack - 4-Bike,2016,20,45,120,1188,2088
4,47,F,Australia,New South Wales,Hitch Rack - 4-Bike,2014,4,45,120,238,418
5,47,F,Australia,New South Wales,Hitch Rack - 4-Bike,2016,5,45,120,297,522
6,47,F,Australia,Victoria,Hitch Rack - 4-Bike,2014,4,45,120,199,379
7,47,F,Australia,Victoria,Hitch Rack - 4-Bike,2016,2,45,120,100,190
8,35,M,Australia,Victoria,Hitch Rack - 4-Bike,2014,22,45,120,1096,2086
9,35,M,Australia,Victoria,Hitch Rack - 4-Bike,2016,21,45,120,1046,1991
10,32,F,Australia,Victoria,Hitch Rack - 4-Bike,2013,8,45,120,398,758
11,32,F,Australia,Victoria,Hitch Rack - 4-Bike,2015,8,45,120,398,758
12,34,M,Australia,Victoria,Hitch Rack - 4-Bike,2013,7,45,120,349,664
13,34,M,Australia,Victoria,Hitch Rack - 4-Bike,2015,7,45,120,349,664
14,29,M,Canada,British Columbia,Hitch Rack - 4-Bike,2013,5,45,120,369,594
15,29,M,Canada,British Columbia,Hitch Rack - 4-Bike,2015,7,45,120,517,832
16,29,M,Canada,British Columbia,Hitch Rack - 4-Bike,2013,2,45,120,148,238
17,29,M,Canada,British Columbia,Hitch Rack - 4-Bike,2015,1,45,120,74,119
18,29,M,Canada,British Columbia,Hitch Rack - 4-Bike,2014,1,45,120,74,119
19,29,M,Canada,British Columbia,Hitch Rack - 4-Bike,2016,1,45,120,74,119

In [4]:
# # Option 1
# df['year'] = pd.to_datetime(df['year'])

# # Option 2
# df['year'] = pd.to_numeric(df['year'])

In [ ]:
# # Renaming columns
# df = df.rename(columns={'Old_name': 'new_name', 
                        
#                         '' }) # repeat to all columns you want to rename

In [ ]:
# df.isna().sum() or df.isnull().sum()

In [49]:
## Find duplicated values and location
# df.loc[df.duplicated()]

# # or

# df.loc[df.duplicated(subset=['name_of_column_look_for']).head(5)

In [ ]:
# # fetching the duplicate names 
# df.query('column_name' == 'duplicate_row_name')

In [ ]:
# df = df.loc[~df.duplicated(subset=['column_names', ])] \ .reset_index(drop=True).copy()

## Step 3: Feature Understanding
- (Univariate Analysis)
  - Histogram
  - KDE
  - Boxplot

In [ ]:
# # Potential distribution on a particular column

# df['column_name'].value_counts()

In [ ]:
# # ploting a bar graph
# ax = df['column_name'].value_counts() \
#         .head(10) \
#         .plot(kind='bar', title='Top 10 Years of the name of the dataset')
# ax.set_xlabel('Year Introduced')
# ax.set_ylabel('Counts')

In [ ]:
# ## Distribution of the Columns

# ax = df['any_column_of_choice'].plot(kind='hist',
#                                      bins=20, 
#                                      title='Column_name')
# ax.set_xlabel('column_name')

In [ ]:
# ## Distribution of the Columns

# ax = df['any_column_of_choice'].plot(kind='kde',
#                                      bins=20, 
#                                      title='Column_name')
# ax.set_xlabel('column_name')

## Step 4 : Feature Relationships
- Scatterplot
- Heatmap Correlation
- Pairplot
- Group by Comparisons